<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="./img/weather.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

    <h2> {{title}}</h2>
    <img class="portrait" src="./img/Super-DLT.jpg" alt="" />
    </div>
    
    {{>footer}}
</body>

</html>